@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    #form_login {
        width: 600px;
    }

    #form_signup {
        width: 600px;
    }

    #button button {
        width: 100%;
        
    }
}

@media screen and (min-width: 992px) {
    #form_login {
        width: 800px;
    }

    #form_signup {
        width: 800px;
    }
}